<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>申购审核</title>
    <link rel="stylesheet" href="/static/js/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/common.css"/>
    <!--[if lte IE 8]>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .layui-table th {
            font-weight: bold;
        }

        .table_btn {
            color: #1E9FFF;
            padding: 0 3px;
            font-size: 12px;
        }
    </style>
</head>

<body>
<div class="layui-card">
    <div class="layui-card-header">选项</div>
    <div class="layui-card-body">
        <form class="layui-form search-form">
            <ul>
                <li>
                    <label>申请时间（起）：</label>
                    <input type="text" id="beginDate" lay-verify="date" placeholder="请选择起始申请时间" autocomplete="off"
                           class="layui-input">
                </li>
                <li>
                    <label>申请时间（止）：</label>
                    <input type="text" id="endDate" lay-verify="date" placeholder="请选择截止申请时间" autocomplete="off"
                           class="layui-input">
                </li>
                <li>
                    <label>发票类型：</label>
                    <select id="invoiceType">
                        <option value=""></option>
                        <option th:each="i:${fplxList}" th:value="${i.code}" th:text="${i.name}"></option>
                    </select>
                </li>
                <li>
                    <button id="searchBut" type="button" class="layui-btn layui-btn-normal">查询</button>
                    <button id="exportBut" type="button" class="layui-btn">按条件导出</button>
                </li>
                <div class="clear-fixed"></div>
            </ul>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">

        <table class="layui-table" id="test" lay-filter="test"></table>

        <script type="text/html" id="tableToolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="batchExport">
                    <i class="layui-icon">&#xe601;</i>批量导出
                </button>
            </div>
        </script>

        <script type="text/html" id="tableOperation">
            {{# if(d.status == 1) { }}
            <span class="cursor-pointer table_btn" lay-event="review">审核</span>
            {{# } }}
            <span class="cursor-pointer table_btn" lay-event="reviewLog">审核记录</span>
            <span class="cursor-pointer table_btn" lay-event="exportExcel">导出</span>
        </script>

    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/layui/layui.js"></script>
<script>
    layui.use(['table', 'laypage', 'laydate'], function () {
        var table = layui.table;
        var laypage = layui.laypage;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#beginDate'
        });
        laydate.render({
            elem: '#endDate'
        });

        sgshObj.loadPage();

        $('#searchBut').on('click', function () {
            sgshObj.loadPage();
        });
        $('#exportBut').on('click', function () {
            var params = {"isOwn": 1};
            sgshObj.exportExcel(params);
        });
    });

    var sgshObj = {
        loadPage: function () {
            var _this = this;
            console.log(JSON.stringify(_this.getRequestParams()));
            _this.tableRender();
        },
        tableRender: function () {
            var _this = this;
            var colsData = [
                [
                    {
                        field: 'fplx', title: '发票类型', unresize: true, sort: true, templet: function (res) {

                            if (res.fplx == 0) {
                                return "增值税普通发票";
                            } else if (res.fplx == 1) {
                                return "增值税专用发票";
                            } else if (res.fplx == 2) {
                                return "增值税电子普通发票";
                            }
                        }
                    },
                    {field: 'fpdm', title: '发票类型代码', sort: true},
                    {
                        field: 'slsl', title: '申领数量(张)', sort: true
                    },
                    {field: 'jby', title: '经办员'},
                    {
                        field: 'lpfs', title: '领票方式', sort: true, templet: function (res) {
                            if (res.lpfs == 0) {
                                return '自行领取';
                            } else if (res.lpfs == 1) {
                                return '快递配送';
                            }
                        }
                    },
                    {field: 'operator', title: '操作人', sort: true},
                    {
                        field: 'status', title: '状态', sort: true, templet: function (res) {
                            if (res.status == 0) {
                                return '<span style="color:gray">待提交</span>';
                            } else if (res.status == 1) {
                                return '<span style="color:orange">待审核</span>';
                            } else if (res.status == 2) {
                                return '<span style="color:green">审核完成</span>';
                            } else if (res.status == 3) {
                                return '<span style="color:red">审核拒绝</span>';
                            }
                        }
                    },
                    {fixed: 'right', title: '操作', width: '15%', toolbar: '#tableOperation'}]
            ];
            var table = layui.table;
            table.render({
                id: "dataList",
                elem: '#test',
                url: '/noc/purchaseReview/getList',
                where: _this.getRequestParams(),
                title: '数据列表',
                cols: colsData,
                even: true, //开启隔行背景
                size: 'sm', //小尺寸的表格
                page: true,
                done: function (res, curr, count) {
                    //alert(res);
                }
            });
            // 列表按钮
            table.on('tool(test)', function (obj) {
                var tableEvent = obj.event;
                var data = obj.data;
                var dataId = data.id;

                if (tableEvent === 'review') {
                    layer.open({
                        title: '审核',
                        type: 2,
                        content: '/noc/purchaseAccount/getReviewDetail/' + dataId,
                        area: ['100%', '100%'],
                        shadeClose: true
                    });
                } else if (tableEvent === 'reviewLog') {
                    layer.open({
                        title: '审核记录',
                        type: 2,
                        content: '/noc/purchaseAccount/getReviewLogById/' + dataId,
                        area: ['100%', '100%'],
                        shadeClose: true
                    });
                } else if (tableEvent === 'exportExcel') {
                    _this.createForm({"id": data.id});
                }
            });
        },
        exportExcel: function (params) {
            var _this = this;
            _this.createForm(_this.getRequestParams(params));
        },
        getRequestParams: function (params) { //获取查询参数
            if (params == undefined || params == null) {
                params = {};
            }
            var beginDate = $('#beginDate').val();
            if (beginDate != null && beginDate != '') {
                params.beginDate = beginDate;
            } else {
                delete params['beginDate'];
            }

            var endDate = $('#endDate').val();
            if (endDate != null && endDate != '') {
                params.endDate = endDate;
            } else {
                delete params['endDate'];
            }

            var invoiceType = $('#invoiceType').val();
            if (invoiceType != null && invoiceType != '') {
                params.fplx = invoiceType;
            } else {
                delete params['fplx'];
            }

            return params;
        },
        createForm: function (params) {

            params.status = 1;

            // 创建Form
            var form = $('<form></form>');
            // 设置属性
            form.attr('action', '/noc/purchaseAccount/exportExcel');
            form.attr('method', 'post');
            for (var item in params) {
                // 创建Input
                var formInput = $('<input name="' + item + '" type="hidden" value="' + params[item] + '" />');
                // 附加到Form
                form.append(formInput);
            }
            $(document.body).append(form);
            // 提交表单
            form.submit();
            // 移除元素
            form.remove();
        }
    }
</script>
</body>

</html>