<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/static/js/layui/css/layui.css">
		<link rel="stylesheet" href="/static/css/common.css" />
		<!--[if lte IE 8]>
		<script src="/static/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="layui-card">
			<div class="layui-card-header">设置我的资料</div>
			<div class="layui-card-body" pad15="">

				<div class="layui-form" lay-filter="">
					<div class="layui-form-item">
						<input type="hidden" name="id" th:value="${employee.id}">
						<label class="layui-form-label">姓名</label>
						<div class="layui-input-inline">
							<input type="text" name="name" lay-verify="required" lay-verType="tips" th:value="${employee.name}" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">性别</label>
						<div class="layui-input-block">
							<select name="sex" lay-verify="required" lay-verType="tips" th:if="${employee.sex eq 1}">
								<option value="1" selected>男</option>
								<option value="2">女</option>
							</select>
							<select name="type" lay-verify="required" lay-verType="tips" th:if="${employee.sex eq 2}">
								<option value="1">男</option>
								<option value="2" selected>女</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">手机</label>
						<div class="layui-input-inline">
							<input type="text" name="phone" th:value="${employee.phone}" lay-verify="phone" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">邮箱</label>
						<div class="layui-input-inline">
							<input type="text" name="email" th:value="${employee.email}" lay-verify="email" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">备注</label>
						<div class="layui-input-block">
							<textarea name="desc" placeholder="请输入内容" th:utext="${employee.desc}" class="layui-textarea"></textarea>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="addOrEdit">确认修改</button>
							<button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/layui/layui.js"></script>
		<script>
			layui.use(['form', 'layer'], function() {
                var form = layui.form;
                var layer = layui.layer;
                //表单提交验证
                form.on('submit(addOrEdit)', function(data){
                    if(!data.field.id) {
                        layer.msg('数据异常');
                        return false;
                    }
                    var loadindex;
                    $.ajax({
                        url: "/noc/updateMyInfo",
                        type: 'post',
                        async : true,
                        dataType: 'json',
                        data: {
                            id:data.field.id,
                            name:data.field.name,
                            sex:data.field.sex,
                            phone:data.field.phone,
                            email:data.field.email,
                            desc:data.field.desc,
                        },
                        beforeSend:function(rs){
                            loadindex = layer.load(2, {
                                time: 1500,
                                shade: [0.3,'#000'],
                            });
                        },
                        complete:function(rs){
                            layer.close(loadindex);
                        },
                        success: function(rlt) {
                            if(rlt && rlt.status == 200) {
                                layer.msg(rlt.msg, {icon: 1,time: 1000,title:'温馨提示'}, function(){
                                });
                            } else {
                                layer.alert(rlt.msg,{icon: 2, title:'温馨提示'});
                                return false;
                            }
                        },error: function(rlt) {
                            layer.alert(rlt.msg,{icon: 2, title:'温馨提示'});
                            return false;
                        }
                    });
                    return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                });
			});

		</script>
	</body>

</html>