<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/js/layui/css/layui.css">
		<link rel="stylesheet" href="/static/js/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="/static/css/common.css" />
		<!--[if lte IE 8]>
		<script src="/static/js/respond.min.js"></script>
		<![endif]-->
		<title></title>
		<style>

</style>
	</head>

	<body>
		<div class="layui-card">
			<div class="layui-card-header">
				发票使用分析
			</div>
			<div class="layui-card-body">
				<form class="layui-form search-form " lay-filter="component-form-group">
					<ul>
						<li>
							<label>发票代码：</label>
							<input id="fpdm" type="text" name="fpdm" placeholder="请输入发票代码" autocomplete="off" class="layui-input">
						</li>
                        <li>
                            <label>发票号码：</label>
                            <input id="fphm" type="text" name="fphm" placeholder="请输入发票号码" autocomplete="off" class="layui-input">
                        </li>
						<li>
                            <label>开票时间：</label>
                            <input id="kpsjMin" type="text" name="kpsjMin" placeholder="开票时间(起)" autocomplete="off" class="layui-input _laydate" lay-key="1">
                            <span> - </span>
                            <input id="kpsjMax" type="text" name="kpsjMax" placeholder="开票时间(止)" autocomplete="off" class="layui-input _laydate" lay-key="2">
                        </li>

						<div class="clear-fixed"></div>
					</ul>
					<ul>
						<li>
							<label>购方税号：</label>
							<input id="gfsh" type="text" name="gfsh" placeholder="请输入购方税号" autocomplete="off" class="layui-input" >
						</li>
                        <li>
                            <label>购方名称：</label>
                            <input id="gfmc" type="text" name="gfmc" placeholder="请输入购方名称" autocomplete="off" class="layui-input">
                        </li>
                        <li>
                            <label >价税合计：</label>
                            <input id="jshjMin" type="text" name="jshjMin" placeholder="￥" autocomplete="off" class="layui-input _je">
                            <span> - </span>
                            <input id="jshjMax" type="text" name="jshjMax" placeholder="￥" autocomplete="off" class="layui-input _je">
                        </li>
					</ul>
					<ul>
                        <li>
                            <label>单 据 号  ：</label>
                            <input id="djh" type="text" name="djh" placeholder="请输入单据号" autocomplete="off" class="layui-input">
                        </li>
 						<li>
 							<label>发票类型：</label>
 							<select id="fpzl" name="fpzl" lay-search>
 								<option value="0">全部</option>
 								<option th:each="fplx:${fplxList}" th:value="${fplx.code} == 0? '100':${fplx.code}" th:text="${fplx.name}" ></option>
 							</select>
 						</li>
  						<li>
  							<label>发票状态：</label>
  							<select id="kplx" name="kplx" lay-search>
  								<option value="0">全部</option>
  								<option value="1">正常</option>
  								<option value="2">红票</option>
  								<option value="3">被冲红</option>
  								<option value="4">废票</option>
  							</select>
  						</li>
                        <li>
                            <label>备注：</label>
                            <input id="bz" type="text" name="bz" placeholder="请输入备注" autocomplete="off" class="layui-input" style="width: 130px">
                        </li>
						<div class="clear-fixed"></div>
                    </ul>
                    <ul>
                        <li>
                            <label>开 票 机 ：</label>
                            <select id="fjh" name="fjh" lay-search>
                                <option value="0">全部</option>
                                <option th:each="kpjxx:${kpjxxList}" th:value="${kpjxx.code} == 0? '101':${kpjxx.code}" th:text="${kpjxx.nickName}" ></option>
                            </select>
                        </li>
                        <li>
                            <label>业务类型：</label>
                            <select id="ywlx" name="ywlx" lay-search>
                                <option value="0">全部</option>
                                <option value="1">普通电费</option>
                                <option value="2">高可靠电费</option>
                                <option value="3">自由票</option>
                            </select>
                        </li>
                        <div class="clear-fixed"></div>
                    </ul>
                    <ul>
						<li>
							<button type="button" class="layui-btn layui-btn-normal layui-btn-sm _search"  lay-submit  lay-filter="search">搜索</button>
							<button type="button" class="layui-btn layui-btn-warm layui-btn-sm _search"  lay-submit  lay-filter="submitExport">按条件导出</button>
							<button type="reset" class="layui-btn layui-btn-sm">重置</button>
						</li>
                        <div class="clear-fixed"></div>
                    </ul>
				</form>
				<div>
				<table id="demo" class="layui-hide" lay-filter="test"></table>
				</div>
			</div>
		</div>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/layui/layui.js"></script>
		<script src="/static/js/moment.js"></script>
		<script src="/static/js/common.js"></script>
		<script src="/static/js/invoice/fpkj.js"></script>
		<script>
			layui.use(['table', 'form', 'layer','laydate'], function() {
				var table = layui.table;
				var layer = layui.layer;
				var laydate = layui.laydate;
				var form = layui.form;
				var struct = [
					[{checkbox: true,},
					{field: 'djh',title: '单据号',width: 150,sort: true},
					{field: 'fpdm',title: '发票代码',width: 120,sort: true},
					{field: 'fphm',title: '发票号码',width: 100},
					{field: 'gfmc',title: '购方名称',width: 200,},
					{field: 'gfsh',title: '购方税号',width: 200,sort: true},
                    {field: 'kpsj',title: '开票时间',width: 150,sort: true},
					{field: 'fpzl',title: '发票类型',width: 100,sort: true,templet:function(d) {
					    if (0 == d.fpzl) {
					        return '<span class="layui-badge bg-light-red cursor-pointer">专票</span>';
					    }else if(2 == d.fpzl){
					        return '<span class="layui-badge bg-light-blue cursor-pointer">普票</span>';
					    }else if(51 == d.fpzl){
					        return '<span class="layui-badge bg-light-green cursor-pointer">电子票</span>';
					    }else if(41 == d.fpzl){
					        return '<span class="layui-badge bg-light-orange cursor-pointer">卷票</span>';
					    }
					}},
                    {field: 'nickName',title: '开票机',width: 100,sort: true
                    },
					{field: 'kplx',title: '发票状态',width: 100,sort: true,templet: function(d){
					    if(1 == d.kplx){
					        return '<span class="layui-badge bg-light-blue cursor-pointer">正常</span>';
					    }else if(2 == d.kplx){
					        return '<span class="layui-badge bg-light-red cursor-pointer">红票</span>';
					    }else if(3 == d.kplx){
					        return '<span class="layui-badge bg-light-blue cursor-pointer">被冲红</span>';
					    }else if(4 == d.kplx){
                            return '<span class="layui-badge bg-light-gray cursor-pointer">蓝废</span>';
                        }else if(5 == d.kplx){
                            return '<span class="layui-badge bg-light-gray cursor-pointer">红废</span>';
                        }
					}},
                    {field: 'hjse',title: '税额￥',width: 100,sort: true},
                    {field: 'jshj',title: '价税合计￥',width: 120,sort: true},
                    {field: 'bz',title: '备注',width: 150},
                    {field: 'kpr',title: '开票人',width: 100,sort: true},
                    {field: 'ywlx',title: '业务类型',width: 100,sort: true,templet:function(d) {
                        var str = '';
                        if(1 == d.ywlx){
                            str = '普通电费';
                        }else if (2 == d.ywlx){
                            str = '高可靠电费';
                        }else if(3 == d.ywlx){
                            str = '自由票';
                        }
                        return '<span style="color: #4178be;">'+str+'</span>';
                    }},
                    {field: '',title: '操作',toolbar: '#operation',width: 70,fixed:'right'}]];
				//加载日期选择框
                $('._laydate').each(function(){
                    laydate.render({
                            elem: this ,      //使用this指向当前元素,不能使用class名, 否则只有第一个有效
                            trigger: 'click'
                    });
                })
                table.render({
                       elem: '#demo',
                       size: 'sm',
                       width:'1095',
                       url: "/noc/statistics/invoiceAnalysis/list",
                       toolbar: '#toolbarDemo' ,
                       defaultToolbar: ['filter'],
                       page: true,
                       cols: struct,
                       text: {none: '暂无相关数据...'},
                       id: 'reloadId',
                       loading:true
                   });

                var active = {
                     checkJe:function(formData){ //获取当前查询条件值
                         if((undefined != formData.jshjMin && ''!= formData.jshjMin) && !(/^\d+(?:.\d{1,2})?$/.test(formData.jshjMin))){
                             console.log("j最小金额输入不合法"+formData.jshjMin);
                             layer.msg('最小金额输入不合法,只能为整数或小数点2位以内的数字',{icon:5});
                             return false;
                         }
                         if((undefined != formData.jshjMax && ''!= formData.jshjMax) && !(/^\d+(?:.\d{1,2})?$/.test(formData.jshjMax))){
                             console.log("最大金额输入不合法"+formData.jshjMax);
                             layer.msg('最大金额输入不合法,只能为整数或小数点2位以内的数字',{icon:5});
                             return false;
                         }
                         return true;
                     },
                    search: function (formData,todo) {//查询按钮 + 刷新页面数据
                        if(active.checkJe(formData)){
                            //整理时间格式
                            if('' != formData.kpsjMin && undefined !=formData.kpsjMin ){
                                formData.kpsjMin = formData.kpsjMin + ' 00:00:00';
                            }
                            if('' != formData.kpsjMax && undefined != formData.kpsjMax ){
                                formData.kpsjMax = formData.kpsjMax + ' 23:59:59';
                            }
                            console.log(formData);
                            //获取当前查询条件值
                            table.reload('reloadId',{
                                page: {curr: 1},//从第 1 页 开始刷新
                                where: formData,
                                done: function(res, curr, count){
                                    //如果是异步请求数据方式,res即为你接口返回的信息.
                                    //如果是直接赋值的方式,res即为:{data: [], count: 99} data为当前页数据,count为数据总长度
                                    if(todo){
                                        if(count >0) todo(formData,count);
                                        else layer.alert("无相关查询条件的可操作数据!",{icon: 2, title:'温馨提示'});
                                    }
                                }
                             });
                        }

                    },
                    searchExport:function(formData) {//按条件导出按钮
                        //刷新页面列表 并 导出数据
                        active.search(formData,function(formData,count) {
                            console.log("按条件导出按钮");
                            layer.confirm('确认导出以下<span style="color:darkred">'+count+'条</span>发票数据至Excel?',{icon: 3, title:'温馨提示'}, function(index) {
                                var url = '/noc/highPower/ykfpMng/export?fpdm='+formData.fpdm+'&fphm='+formData.fphm+'&gfmc='+formData.gfmc+'&gfsh='+formData.gfsh+'&bz='+formData.bz+'&fjh='+formData.fjh+'&fpzl='+formData.fpzl+'&kplx='+formData.kplx+'&jshjMin='+formData.jshjMin+'&jshjMax='+formData.jshjMax+'&kpsjMin='+formData.kpsjMin+'&kpsjMax='+formData.kpsjMax+'&djh='+formData.djh+'&ywlx='+formData.ywlx;
                                window.location.href = url;
                                layer.close(index);
                            });
                        });
                    },
                    getCheckData: function(){ //获取选中数据
                          var checkStatus = table.checkStatus('reloadId')
                          ,checkData = checkStatus.data;
                          var dataFormat ="";
                          //格式化获取数据,只过滤tzdId,变成以逗号分隔的字符串
                          for(var i = 0 ;i<checkData.length;i++){
                              if(i != checkData.length-1){
                                  dataFormat += checkData[i].djh + ',';
                              }else{
                                  dataFormat += checkData[i].djh;
                              }
                          }
                          if('' == dataFormat){
                              layer.alert("您未点选任何数据,不能进行该操作!",{icon: 2, title:'温馨提示'});
                              return false;
                          }else{
                              return dataFormat;
                          }
                    },
                    ajaxPost:function(url,data) {// ajax post 请求
                          var indexLoading;
                            $.ajax({
                              url: url,
                              type: 'post',
                              data: data,
                              dataType: 'json',
                              beforeSend:function(){
                                 indexLoading = layer.load(2, {time: 1500,shade: [0.3,'#000']});
                              },
                              success: function(rlt) {
                                  console.log(rlt);
                                  if (rlt.status == 200) {
                                      layer.close(indexLoading);
                                      layer.msg(rlt.msg, {icon: 1,time: 1000,title:'温馨提示'});
                                      active.search({kpsjMin:"",kpsjMax:""});
                                  }else{
                                      layer.close(indexLoading);
                                      layer.alert(rlt.msg,{icon: 2, title:'温馨提示'});
                                  }
                              },
                              error: function(rlt) {
                                  layer.close(indexLoading);
                                  layer.alert(rlt.msg,{icon: 2, title:'温馨提示'});
                              }
                          })
                    }
                }

				//表单“搜索”按钮
                form.on('submit(search)', function(data){
                    active.search(data.field);
                    return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                });
                //表单“批量导出”按钮
                form.on('submit(submitExport)', function(data){
                    console.log('submit(submitExport)');
                    active.searchExport(data.field);
                    return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                });

                //监听事件
                table.on('toolbar(test)', function(obj){
                  var checkStatus = table.checkStatus(obj.config.id);
                  switch(obj.event){
                    case 'refresh':
                        //刷新
                        var data = {};
                        data.fpdm = $('#fpdm').val();
                        data.fphm = $('#fphm').val();
                        data.gfmc = $('#gfmc').val();
                        data.gfsh = $('#gfsh').val();
                        data.bz = $('#bz').val();
                        data.fjh = $('#fjh').val();
                        data.fpzl = $('#fpzl').val();
                        data.kplx = $('#kplx').val();
                        data.jshjMin = $('#jshjMin').val();
                        data.jshjMax = $('#jshjMax').val();
                        data.kpsjMin = $('#kpsjMin').val();
                        data.kpsjMax= $('#kpsjMax').val();
                        data.djh= $('#djh').val();
                        data.ywlx= $('#ywlx').val();
                        active.search(data);
                    break;
                    case 'exports':
                        //批量导出
                        var djhs = active.getCheckData();
                        if(false != djhs){
                            var array_djhs = djhs.split(',');
                            layer.confirm('确认导出以下点选的<span style="color: darkred">'+array_djhs.length+'条</span>发票数据至Excel?',{icon: 3, title:'温馨提示'}, function(index) {
                                window.location.href = '/noc/highPower/ykfpMng/export?djhs='+djhs;
                                layer.close(index);
                            });
                        }
                    break;
                  };
                });

				table.on('tool(test)', function(obj) {
					var tableEvent = obj.event;
					var data = obj.data;
					console.log(obj.data);
					  switch(obj.event){
                        case 'detail':
                            //发票详情
                            layer.open({
                                title: '发票明细',
                                type: 2,
                                content: '/noc/highPower/ykfpMng/invoiceDel?djh='+data.djh,
                                area: ['90%', '90%'],
                                shadeClose: true,
                            });
                        break;
                      };
				});
			});
		</script>
		<script type="text/html" id="operation">
			<span class="layui-badge bg-light-blue cursor-pointer" lay-event="detail">详情</span>
		</script>
		<script type="text/html" id="toolbarDemo">
            <button class="mock-icon-btn" lay-event="exports" title="批量导出Excel">
                <i class="fa fa-share-square-o"></i><span>批量导出</span>
            </button>
            <button class="mock-icon-btn" lay-event="refresh" title="刷新" style="float:right">
                <i class="fa fa-refresh"></i><span>刷新</span>
            </button>
        </script>
	</body>

</html>