<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htxx.mapper.DlFpxeMapper" >
  <resultMap id="BaseResultMap" type="com.htxx.entity.DlFpxe" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="BIGINT" />
    <result column="kpj_id" property="kpjId" jdbcType="BIGINT" />
    <result column="kpj" property="kpj" jdbcType="VARCHAR" />
    <result column="fplx_id" property="fplxId" jdbcType="BIGINT" />
    <result column="fplx" property="fplx" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, enterprise_id, kpj_id, kpj, fplx_id, fplx, amount, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.htxx.entity.DlFpxeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dl_fpxe
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dl_fpxe
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dl_fpxe
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.htxx.entity.DlFpxeExample" >
    delete from dl_fpxe
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.htxx.entity.DlFpxe" >
    insert into dl_fpxe (id, enterprise_id, kpj_id, 
      kpj, fplx_id, fplx, amount, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{enterpriseId,jdbcType=BIGINT}, #{kpjId,jdbcType=BIGINT}, 
      #{kpj,jdbcType=VARCHAR}, #{fplxId,jdbcType=BIGINT}, #{fplx,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.htxx.entity.DlFpxe" >
    insert into dl_fpxe
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="kpjId != null" >
        kpj_id,
      </if>
      <if test="kpj != null" >
        kpj,
      </if>
      <if test="fplxId != null" >
        fplx_id,
      </if>
      <if test="fplx != null" >
        fplx,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="kpjId != null" >
        #{kpjId,jdbcType=BIGINT},
      </if>
      <if test="kpj != null" >
        #{kpj,jdbcType=VARCHAR},
      </if>
      <if test="fplxId != null" >
        #{fplxId,jdbcType=BIGINT},
      </if>
      <if test="fplx != null" >
        #{fplx,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.htxx.entity.DlFpxeExample" resultType="java.lang.Integer" >
    select count(*) from dl_fpxe
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dl_fpxe
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.enterpriseId != null" >
        enterprise_id = #{record.enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="record.kpjId != null" >
        kpj_id = #{record.kpjId,jdbcType=BIGINT},
      </if>
      <if test="record.kpj != null" >
        kpj = #{record.kpj,jdbcType=VARCHAR},
      </if>
      <if test="record.fplxId != null" >
        fplx_id = #{record.fplxId,jdbcType=BIGINT},
      </if>
      <if test="record.fplx != null" >
        fplx = #{record.fplx,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dl_fpxe
    set id = #{record.id,jdbcType=BIGINT},
      enterprise_id = #{record.enterpriseId,jdbcType=BIGINT},
      kpj_id = #{record.kpjId,jdbcType=BIGINT},
      kpj = #{record.kpj,jdbcType=VARCHAR},
      fplx_id = #{record.fplxId,jdbcType=BIGINT},
      fplx = #{record.fplx,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=DOUBLE},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.htxx.entity.DlFpxe" >
    update dl_fpxe
    <set >
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="kpjId != null" >
        kpj_id = #{kpjId,jdbcType=BIGINT},
      </if>
      <if test="kpj != null" >
        kpj = #{kpj,jdbcType=VARCHAR},
      </if>
      <if test="fplxId != null" >
        fplx_id = #{fplxId,jdbcType=BIGINT},
      </if>
      <if test="fplx != null" >
        fplx = #{fplx,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.htxx.entity.DlFpxe" >
    update dl_fpxe
    set enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      kpj_id = #{kpjId,jdbcType=BIGINT},
      kpj = #{kpj,jdbcType=VARCHAR},
      fplx_id = #{fplxId,jdbcType=BIGINT},
      fplx = #{fplx,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>